<link rel="stylesheet" href="/stylesheets/partials/footer.css">
<footer class="page-footer grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Connect</h5>
        <ul class="footerUl">
          <li>
            <a class="github-button" href="https://github.com/hellosirandy/Stadiums"
              data-icon="octicon-star" data-style="mega"
              data-count-href="/hellosirandy/Stadiums/stargazers"
              data-count-api="/repos/hellosirandy/Stadiums#stargazers_count"
              data-count-aria-label="# stargazers on GitHub"
              aria-label="Star hellosirandy/Stadiums on GitHub">
              Star
            </a>
          </li>
          <li>
            <a class="github-button" href="https://github.com/hellosirandy"
              data-style="mega" data-count-href="/hellosirandy/followers"
              data-count-api="/users/hellosirandy#followers"
              data-count-aria-label="# followers on GitHub"
              aria-label="Follow @hellosirandy on GitHub">
              Follow
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Shaoan Chien.  All rights reserved.
    </div>
  </div>
</footer>
