<link rel="stylesheet" href="/stylesheets/partials/nav-bar.css">
<script src="/javascripts/partials/nav-bar.js" charset="utf-8"></script>
<div id="navBar" class="grey darken-1">
  <div class="container">
    {{#if sideNav}}
    {{else}}
    <a href="/" class="brand-logo">{{title}}</a>
    {{/if}}
  	<a data-activates="slide-out" class="button-collapse" id="hamburger">
			<i class="material-icons">menu</i>
    </a>
    <div id="navBarLinkDiv">
    	<div id="searchWrapper">
    		<span id="allStadiums" style="display: none;">{{allStadiums}}</span>
				<input type="text" id="searchInput" class="grey darken-1" data-stadiums={{allStadiums}}>
				<i class="material-icons" id="searchIcon">search</i>
				<div id="searchResults" class="grey lighten-2 z-depth-3">
				</div>
    	</div>
      {{#if user}}
      <img src="{{user.profilePic}}" alt="" class="circle" id="profilePic" data-activates='profileDropdown' data-beloworigin="true" >
      {{else}}
      <a href="#loginModal" class="navBarLinks">Sign in / Sign up</a>
      {{/if}}
    </div>
  </div>
</div>
{{#if navTitle}}
<div id="stadiumNav" class="grey darken-1">
  <div class="container">
    <a id="title" class="grey-text text-lighten-3">
      {{navTitle}} {{#if stadiumCount}} <span id="stadiumCount"> - {{stadiumCount}} stadiums</span> {{/if}}
    </a>
  </div>
</div>
{{/if}}
{{> nav-bar/login-modal}}

<ul id='profileDropdown' class='dropdown-content'>
  <li><a id="sign-in-as" class="grey-text text-darken-1">Signed in as <br>
     <span class="grey-text text-darken-4">{{user.fullName}}</span>
   </a></li>
  <li class="divider"></li>
  <li><a href="/user/profile" class="grey-text text-darken-1 profileLink">Profile</a></li>
  <li><a href="/signout" class="grey-text text-darken-1 profileLink">Sign out</a></li>
</ul>
