<link rel="stylesheet" href="/stylesheets/partials/nav-bar.css">
<div id="nav-bar" class="grey darken-1">
  <div class="container">
    <p id="title" class="grey-text text-lighten-3">{{navTitle}}</p>
  </div>
</div>
