<link rel="stylesheet" href="/stylesheets/partials/nav-bar.css">
<nav class="nav-extended grey darken-1">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"style="display: none;">Stadiums</a>
      <ul class="right">
        <li class="nav-bar-list">{{>nav-bar/search-field}}</li>
        <li class="nav-bar-list">{{>nav-bar/account}}</li>
      </ul>
    </div>
    <div class="nav-content">
      <span class="nav-title">{{navTitle}}</span>
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>

</nav>
