<link rel="stylesheet" href="/stylesheets/partials/nav-bar.css">
<script src="/javascripts/partials/nav-bar.js" charset="utf-8"></script>
<div id="navBar" class="grey darken-1">
  <div class="container">
  	<a data-activates="slide-out" class="button-collapse" id="hamburger">
			<i class="material-icons">menu</i>
    </a>
    <div id="content">
      {{#if user}}
      <img src="{{user.profilePic}}" alt="" class="circle" id="profilePic" data-activates='profileDropdown' data-beloworigin="true" >
      {{else}}
      <a href="#loginModal" class="navBarLinks">Sign in / Sign up</a>
      {{/if}}
    </div>
  </div>
</div>
<div id="stadiumNav" class="grey darken-1">
  <div class="container">
    <p id="title" class="grey-text text-lighten-3">
      {{navTitle}} <span id="stadiumCount"> - {{stadiumCount}} stadiums</span>
    </p>
  </div>
</div>
<div id="loginModal" class="modal">
  <div class="modal-content">
    <h4>Sign in with</h4>
    <hr>
    <div id="facebookBtn" class="socialBtn hoverable">
      <div class="socialBtnImgDiv">
        <img src="/images/facebook.png" alt="" class="socialBtnImg">
      </div>
      <div class="socialBtnTextDiv" onclick="window.location = '/auth/facebook';">
        <a>Facebook</a>
      </div>
    </div>
    <div id="twitterBtn" class="socialBtn hoverable">
      <div class="socialBtnImgDiv">
        <img src="/images/twitter.png" alt="" class="socialBtnImg">
      </div>
      <div class="socialBtnTextDiv">
        <a>Twitter</a>
      </div>
    </div>
  </div>
</div>

<ul id='profileDropdown' class='dropdown-content'>
  <li><a href="/signout" class="dropDownLink grey-text text-darken-3">Sign out</a></li>
</ul>
