<link rel="stylesheet" href="/stylesheets/partials/nav-bar.css">
<div id="nav-bar" class="grey darken-1">
  <div class="container">
    <p id="title" class="grey-text text-lighten-3">
      <span data-activates="slide-out" class="button-collapse" id="hamburger">
        <i class="material-icons">menu</i>
      </span>
      {{navTitle}} <span id="stadiumCount"> - {{stadiumCount}} stadiums</span>
    </p>
  </div>
</div>
