<link rel="stylesheet" href="/stylesheets/stadium/stadium.css">
<div id="stadiumHeader" class="grey darken-1">
  <div class="container">
    <p id="title" class="grey-text text-lighten-3">{{stadium.name}}</p>
  </div>
</div>

<div id="stadiumMain" class="">
  <div class="container">
    <div class="row">
      <div class="col s3"></div>
    </div>
  </div>
</div>
