<link rel="stylesheet" href="/stylesheets/user/profile.css">
<div id="profile-page">
  <div class="container">
    <div id="profile-content">
      <div class="row">
        <div class="col s12" id="pic-name">
          <img src="{{profile.profilePic}}" alt="" id="big-head" class="circle">
          <h4>{{profile.fullName}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="grey lighten-3">
            <div class="row" style="height: 300px;">
            </div>
          </div>
          <div class="grey lighten-3">
            <div class="row" style="height: 300px;">

            </div>
          </div>
        </div>
        <div class="col s8">
          <div class="grey lighten-3">
            <div class="row" style="height: 620px;">
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
