:root {
  --facebook-color: rgb(59, 89, 152);
  --twitter-color: rgb(0, 172, 237);
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#hamburger {
  display: none;
}

main .container {
  width: 90%;
  max-width: none;
}
