body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



#hamburger {
  display: none;
}

header .container {
  width: 70%;
}

main .container {
  width: 70%;
  max-width: none;
}

footer .container {
  width: 70%;
}
