.cellContent {
  height: auto;
  width: 100%;
  display: none;
}

.cellContent.active {
  position: absolute;
  display: block;
}

.albumCell {
  width: 100%;
  height: 9vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: zoom-in;
}
