.description img {
  margin-left: 30%;
  width: 40%;
}

.description h4 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.description h5 {
  font-size: 1.3rem;
  text-align: center;
  word-wrap: break-word;
}

.one-fifth {
  width: 20%;
  margin-left: auto;
  left: auto;
  right: auto;
}

@media only screen and (max-width: 992px) {
  .description h4 {
    font-size: 1.5rem;
  }
  .description h5 {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width : 600px) {
  .description h4 {
    font-size: 1rem;
  }
  .description h5 {
    font-size: 0.7rem;
  }
}



#stadiumDescription {
  padding-top: 70px;
  padding-bottom: 10px;
  overflow-x: scroll;
}

#stadiumDescription .row {
  min-width: 500px;
}
