#stadiumHeader {
  line-height: 12vh;
}

#title {
  margin: 0;
  font-size: 6vh;
}

.container {
  width: 90%;
  max-width: none;
}

#stadiumMain {
  padding-top: 70px;
}

.description img {
  margin-left: 30%;
  width: 40%;
}

.description h4 {
  font-size: 1.8vw;
  text-align: center;
  font-weight: bold;
}

.description h5 {
  font-size: 1.3vw;
  text-align: center;
  word-wrap: break-word;
}

.one-fifth {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}
