#stadiumStoryWall {
  margin: 0 20%;
}

@media only screen and (max-width: 400px) {
  #stadiumStoryWall {
    margin: 0 2%;
  }
}

#newStoryDiv {
  border: #e0e0e0  1px solid;
  padding: 15px 0;
}

.input-field input {
  margin-bottom: 0;
}

#newStoryDiv h5 {
  margin-bottom: 0;
  font-weight: bold;
}

#storyTitleInput {
  font-weight: bold;
  /*box-shadow: #616161;*/
}

#storyTitleInput:focus {
 border-bottom: 1px solid #616161 !important;
 box-shadow: 0 1px 0 0 #616161 !important;
}

label.active {
  color: #616161 !important;
}

#errorDiv {
  line-height: 32px;
  border-radius: 10px;
  padding-left: 10px;
}

#errorDiv p {
  font-size: 16px;
}

#newStoryDivTitle {
  font-size: 1.8vw;
  color: black;
  font-weight: bold;
  line-height: 40px;
  /*margin-left: */
}

#newStoryDivTitle i {
  font-size: 1.8vw;
  margin-right: 5px;
  line-height: 40px;
}

#postBtn {
  display: block;
}



#evaluation {
  float: right;
  color: #bdbdbd;
  transition: color 0.5s ease;
}

#editor {
  min-height: 8vw;
}

#stadiumStoryWall .loginBtn {
  display: block;
}
