<div id="stadiumDescription" class="grey lighten-4">
  <div class="row container" style="margin-bottom: 0;">
    <div class="col one-fifth description">
      <img src="/images/seats2.png" alt="">
      <h4>Capicity</h4>
      <h5 class="grey-text text-darken-1">{{handledDetail.capacity}}</h5>
    </div>
    <div class="col one-fifth description">
      <img src="/images/opened.png" alt="">
      <h4>Opened</h4>
      <h5 class="grey-text text-darken-1">{{handledDetail.opened}}</h5>
    </div>
    <div class="col one-fifth description">
      <img src="/images/location.png" alt="">
      <h4>Location</h4>
      <h5 class="grey-text text-darken-1">{{stadium.detail.location}}</h5>
    </div>
    <div class="col one-fifth description">
      <img src="/images/architect.png" alt="">
      <h4>Architect</h4>
      <h5 class="grey-text text-darken-1">{{stadium.detail.architect}}</h5>
    </div>
    <div class="col one-fifth description">
      <img src="/images/tenant.png" alt="">
      <h4>Tenants</h4>
      {{#each stadium.detail.team}}
      <h5 class="grey-text text-darken-1">{{this}}</h5>
      {{/each}}
    </div>
  </div>
</div>
