#profile-pic {
  margin-top: 12px;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width : 601px) {
  #profile-pic {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width : 400px) {
  #sign-in-up {
    font-size: 0.75rem;
  }
}

#profile-dropdown {
  overflow-y: initial;
  margin-top: 10px;
  top: 50px !important;
  border: 1px solid rgba(27,31,35,0.15);
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);
  width: 150px !important;
}

#profile-dropdown::before{
  position: absolute;
  right: 10%;
  top: -10px;
  width: 0;
  height: 0;
  content:'';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  display: block;
}

.nav-bar-link {
  color: #e0e0e0;
  font-weight: bold;
  transition: color 0.4s ease;
}

.nav-bar-link:hover {
  background-color: inherit;
  color: #bdbdbd;
}

#login-modal {
  width: 400px;
}

#login-modal h4 {
  color: black;
}

#login-modal #email-login-btn a {
  color: #424242 ;
  line-height: 1.1;
  font-size: 1.2rem;
  margin: 20px;
  height: auto;
  text-align: center;
  text-decoration: underline;
}

#login-modal #email-login-btn a:hover {
  background-color: inherit;
}

#login-modal .social-login-btn {
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#login-modal #facebookBtn {
  background-color: rgb(59, 89, 152);
}

#login-modal #twitterBtn {
  background-color: rgb(0, 172, 237);
}

.social-login-btn .socialBtnImgDiv {
  height: 100%;
  padding: 0 10px 0 10px;
  float: left;
}

.socialBtnImgDiv img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

.social-login-btn .socialBtnTextDiv {
  height: 100%;
  line-height: 60px;
  padding-left: 60px;
}

.socialBtnTextDiv a {
  color: #eeeeee;
  font-size: 30px;
}

@media only screen and (max-width : 400px) {
  #login-modal {
    width: 90%;
  }

  #login-modal #email-login-btn a {
    font-size: 1.2rem;
    margin: 20px;
  }

  #login-modal .social-login-btn {
    height: 50px;
    margin-top: 10px;
  }

  .social-login-btn .socialBtnImgDiv {
    height: 100%;
    width: 62px;
    padding: 0 8px 0 8px;
    float: left;
  }

  .socialBtnImgDiv img {
    margin-top: 8px;
    width: 34px;
    height: 34px;
  }

  .social-login-btn .socialBtnTextDiv {
    height: 100%;
    line-height: 50px;
    padding-left: 50px;
  }

  .socialBtnTextDiv a {
    font-size: 25px;
  }
}

#profile-dropdown li a {
  cursor: default;

}

#profile-dropdown li a:hover {
  background-color: inherit;
}

#profile-dropdown li:hover {
  background-color: inherit;
}
#profile-dropdown li:hover a.profile-link{
  cursor: pointer;
  color: #212121 !important;
}
