<link rel="stylesheet" href="/stylesheets/partials/nav-bar/account.css">
<script src="/javascripts/partials/nav-bar/account.js" charset="utf-8"></script>
{{#if user}}
<img src="{{user.profilePic}}" alt="" class="circle" id="profile-pic" data-activates='profile-dropdown' data-beloworigin="true" >
{{else}}
<a href="#login-modal" class="nav-bar-link" id="sign-in-up">Sign in / Sign up</a>
{{/if}}

<ul id='profile-dropdown' class='dropdown-content'>
  <li><a id="sign-in-as" class="grey-text text-darken-1">Signed in as <br>
     <span class="grey-text text-darken-4">{{user.fullName}}</span>
   </a></li>
  <li class="divider"></li>
  <li><a href="/user/profile/{{user._id}}" class="grey-text text-darken-1 profile-link">Profile</a></li>
  <li><a href="/signout" class="grey-text text-darken-1 profile-link">Sign out</a></li>
</ul>

<div id="login-modal" class="modal">
  <div class="modal-content">
    <h4>Sign in with</h4>
    <hr>
    <div id="facebookBtn" class="social-login-btn hoverable">
      <div class="socialBtnImgDiv">
        <img src="/images/facebook.png" alt="" class="socialBtnImg">
      </div>
      <div class="socialBtnTextDiv" onclick="window.location = '/auth/facebook';">
        <a>Facebook</a>
      </div>
    </div>
    <div id="twitterBtn" class="social-login-btn hoverable">
      <div class="socialBtnImgDiv">
        <img src="/images/twitter.png" alt="" class="socialBtnImg">
      </div>
      <div class="socialBtnTextDiv">
        <a>Twitter</a>
      </div>
    </div>
    <div id="email-login-btn">
      <a href="/user/signin">Sign in or sign up with email</a>
    </div>
  </div>
</div>
