.nav-wrapper {
  border-bottom: solid 1px #9e9e9e;
}

.nav-title {
  font-size: 3rem;
}

@media only screen and (max-width : 400px) {
  .nav-title {
    font-size: 2rem;
  }
}

.brand-logo {
  font-family: 'Pacifico', cursive;
}

@media only screen and (max-width: 992px) {

}

.nav-bar-list {
  margin-left: 10px;
}

#hamburger {
  margin-left: 0;
}

#hamburger i {
  font-size: 30px;
}

#wanted-btn {
  right: 100px;
}

#checked-btn {
  right: 10px;
}
