.nav-wrapper {
  border-bottom: solid 1px #9e9e9e;
}

.nav-title {
  font-size: 3rem;
}

@media only screen and (max-width : 400px) {
  .nav-title {
    font-size: 2rem;
  }
}

.brand-logo {
  font-family: 'Pacifico', cursive;
}

@media only screen and (max-width : 992px) {
  nav .brand-logo {
    left: 0;
    -webkit-transform: none;
    transform: none;
  }
}

.nav-bar-list {
  margin-left: 10px;
}

#hamburger {
  margin-left: 0;
}

#hamburger i {
  font-size: 30px;
}

#wanted-btn {
  right: 100px;
}

#checked-btn {
  right: 10px;
}

.halfway-btn i.material-icons {
  line-height: 40px;
}

#wanted-btn {
  right: 70px;
}

#checked-btn {
  right: 15px;
}

#toast-container {
  top: 0;
  right: 10px;
}
