#side-nav {
  
}

#logoImg {
  margin-top: 20px;
  margin-left: 90px;
  width: 120px;
}

.sideLinks {
  font-weight: bold !important;
}

#logoLi {

}

.selectLi {
  margin: 10px 0;
}

.side-nav .divider {
  margin: 0;
}
